<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIGINAS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Digitalisasi Nilai SKS Sekolah" />
    <meta name="keywords" content="Digitalisasi Nilai MTsN Jember 2" />
    <meta name="msapplication-TileColor" content="#118329">
    <meta name="msapplication-TileImage" content="./icon-192x192.png">
    <meta name="theme-color" content="#118329" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Full Screen">
    
    <link rel="apple-touch-icon" href="./icon-192x192.png" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="./icon-192x192.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" 
    rel="preload" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
    rel="preload" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body id="body-container">
    <skip-to-content></skip-to-content>
    <header>
        <app-bar></app-bar>
    </header>
    <main id="main-content" role="main"></main>
    <footer-elm></footer-elm>
    <bottom-nav id="bottomnav"></bottom-nav>
    <toast-elm></toast-elm>
</body>
</html>